<div class="nonBorder">
  <button mat-button routerLink="home" >home</button>
  <button mat-button [matMenuTriggerFor]="note">note</button>


  <mat-menu class="nonBorder" xPosition="after" #note="matMenu">
    <button mat-menu-item routerLink="note/add">add</button>
    <button mat-menu-item routerLink="note/display">list all</button>


  </mat-menu>

  <mat-menu class="nonBorder" xPosition="before" #newSettings="matMenu">
    <button mat-menu-item>add new sett</button>
    <button mat-menu-item>create new sett</button>

  </mat-menu>

  <mat-menu class="nonBorder" xPosition="before" #oldSettings="matMenu">
    <button mat-menu-item>remove old sett</button>
    <button mat-menu-item>update old sett</button>

  </mat-menu>

</div>
