button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.nonBorder{
  padding: 0;
  border: none;
  background: burlywood;
}
button.mat-menu-item{
  color: darkblue;
}
.is-active{
  color: red;
}
